body {
    width: 100%;
    height: 100%;
    min-height: 100%;
    font-family: 'Ubuntu', sans-serif;
    color: #f3f3f3;
    background-color: #f3f3f3;
}
.container-fluid {
    padding-left: 0;
    padding-right: 0;
}
.row {
    margin-left: 0;
    margin-right: 0;
}
a {
    text-decoration: none;
    color: #f3f3f3;
    transition-duration: 0.3s;
}
a:hover {
    text-decoration: none;
}
img {
    max-width: 100%;
    max-width: 100%;
}
.encabezado {
    width: 100%;
    height: auto;
    background-color: #004D72;
    padding-top: 8px;
    padding-bottom: 8px;
}
.menu {
    color: #f3f3f3;
    padding-top: 16px;
    font-weight: bold;
    font-size: 16px;
    width: 100%;
}
.menu a:hover {
    color: #007FBC;
}
.icon {
    font-size: 24px;
    margin-right: 8px;
    margin-left: 16px;
}
#frase-informativa {
    font-weight: bold;
    font-size: 24px;
}
.dropdown-menu {
    margin-top: 14px;
}
.dropdown-item {
    color: #004D72;
    font-weight: bold;
}
a[class="dropdown-item"]:hover {
    background-color: #004D72;
    color: #f3f3f3;
}
.separador {
    border-top: 2px solid rgba(51,51,51,.1);
}
.seccion-vendidos {
    max-width: 1214px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 32px;
    margin-bottom: 32px;
}
.tarjeta-vendido {
    width: 206px;
    background-color: #ffffff;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    margin-bottom: 16px;
}
.tarjeta-vendido-img {
    width: 206px;
    height: 224px;
    vertical-align: middle;
}
.tarjeta-texto {
    padding-top: 8px;
    padding-bottom: 8px;
    border-top: 1px solid rgba(51,51,51,.1);
}
.no-margin-text {
    margin-bottom: 0;
    display: inline;
}
.contenido {
    margin-top: 32px;
    margin-bottom: 32px;
}
.seccion-categorias {
    color: #333333;
    max-width: 1214px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 32px;
    margin-bottom: 32px;
}
.tarjeta-categoria {
    width: 169px;
    height: 169px;
    background-color: #ffffff;
    color: #004D72;
}
.borde-categoria {
    border-right: 1px solid rgba(51,51,51,.1);
}
.icono-categoria {
    margin-top: 32px;
    font-size: 80px;
    padding-bottom: 8px;
}
.categoria {
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 16px;
}
#seccion-descubrir {
    color: #333333;
    max-width: 1214px;
    margin-left: auto;
    margin-right: auto;
}
.descubrir-encabezado {
    font-size: 26px;
    padding-bottom: 16px;
}
.tarjetas-mini {
    max-width: 784px;
    float: left;
    margin-right: 0;
}
.tarjeta-mini {
    height: 184px;
    width: 184px;
    float: left;
    margin-right: 16px;
    margin-bottom: 14px;
    vertical-align: middle;
    background-color: #ffffff;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
}
.tarjeta-mini-ultima {
    margin-right: 0px;
}
.tarjeta-grande {
    height: 382px;
    width: 382px;
    margin-right: 16px;
    margin-bottom: 16px;
    float: left;
    background-color: #ffffff;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
}

div[id="seccion-descubrir"] img {
    border-radius: 4px;
}
.subtitulo {
    color: #333333;
}
.tarjeta-gde-img{
    height: 282px;
    width: 382px;
    align-content: center;
}
.pie-elemento {
    height: 100%;
    width: 100%;
    align-content: center;
    padding-top: 10px;
    padding-bottom: 0;
}
.pie-icon {
    font-size: 32px;
    margin-right: 16px;
}
.pie-pagina {
    width: 100%;
    height: auto;
    padding-top: 16px;
    padding-bottom: 16px;
    margin-top: 0;
    margin-bottom: 0;
    background-color: #004D72;
}
footer li {
    display: inline;
    font-size: 16px;
}
footer {
}
.seccion-acerca {
    color: #333333;
    max-width: 1214px;
    margin-left: auto;
    margin-right: auto;
    background-color: #ffffff;
}
.acerca-elemento {
    margin-top: 32px;
    margin-bottom: 32px;
    padding-top: 32px;
    padding-bottom: 32px;
}
.acerca-img {
    width: 562px;
    height: 374px;
    vertical-align: middle;
    overflow: hidden;
}
.tarjetas-explorar {
    color: #333333;
    max-width: 1214px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 32px;
    margin-bottom: 32px;
}
.seccion-ayuda {
    color: #333333;
    max-width: 1214px;
    margin-left: auto;
    margin-right: auto;
    background-color: #ffffff;
    padding: 32px;
}
.seccion-ayuda a {
    color: #333333;
}
.faq-contenido {
    padding: 16px;
}
.card-header {
    background-color: #f3f3f3;
}
.faq-img {
    width: 562px;
    height: 374px;
    margin: 0 auto 16px auto;
}
.tarjeta-ayuda {
    border: 1px solid rgba(51,51,51,.1);
    padding-top: 0;
}
.grow:hover {
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
}
.seccion-producto {
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
    background-color: #ffffff;
    color: #333333;
    padding: 32px;
}
.seccion-producto a {
    color: #333333;
}
.spinner {
    max-width: 60px;
    height: 100%;
}
.precio {
    color: #B12704;
}
.envio {
    color: #008a00;
}
.descripcion {
    margin-top: 32px;
    margin-bottom: 16px;
}
.opiniones {
    margin-top: 32px;
}
.producto {
    margin-bottom: 32px;
}
.opinion {
    margin-top: 32px;
    margin-bottom: 32px;
}
.rating-bottom {
    margin-bottom: 16px;
    color: #007FBC;
}
.rating-color {
    color: #007FBC;
}
.resultados {
    max-width: 60%;
}
.botones-producto {
    display: inline-flex;
    width: 100%;
}
.botones-espacio {
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 0px;
}
.seccion-carrito {
    padding-top: 32px;
    padding-bottom: 32px;
    color: #333333;
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
    background-color: #ffffff;
}
.producto-carrito {
    padding-top: 16px;
    padding-bottom: 16px;
    border-top: solid 3px #f7f7f9;
    border-bottom: solid 3px #f7f7f9;
}
.espacio {
    max-width: 200px;
}
.boton-pagar {
    padding-top: 32px;
}
.btn-pagar {
    font-size: 32px;
    min-width: 180px;
}
.encabezado-carrito {
    margin-bottom: 32px;
}
.precio-final {
    padding-top: 32px;
}